<nav>
  <section class="menu">
    <button type="button" mat-icon-button aria-label="click here to see the site navigation" (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
  <section class="logo" routerLink="/">
    <img [src]="logo" alt="logo de lecarabin" width="60%" style="width: 150px;" />
  </section>
  <section class="search">
    <button type="button" mat-icon-button aria-label="Rechercher sur lecarabin" (click)="openSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </section>
</nav>
