@import '../../../../colors.scss';


:host{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  width: 90%;
  z-index: 3;
  overflow: hidden;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  .article-title {
    padding: 0 12px;
    text-overflow: ellipsis;
    >*{
      font-size: 2.2rem;
      color: white;
    }
  }
  .article-author{
    padding: 0 12px;
    color: $white-one;
  }
}
.article-container:hover{
  .article-title{
    text-decoration: solid 2px  white underline;
  }
}

i{
  padding-right: 5px;
  color: white;
}

.article-tag{
  display: flex;
  position: relative;
  left: 12px ;
  padding: 0 12px;
  max-width: max-content;
  background-color: $primary-cyan;
  color: white;
}
