<section class="admin-main-container">
  <section class="list-article">
    <header class="list-article-header">
      <h2>Articles</h2>
    </header>
    <hr>
    <section class="list-article-body">
      <ul>
        {% for article in articles %}
        <li class="list-card m15 pad15">
          <a href="{{ url_for('go_to_edit', post_id=article.id)}}" class="list-card-link"> {{article.title}}</a>
          <span>{{ article.id }}</span>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>
