<section class="auth_section">
  <form id="inscription-form">
    {{ i_form.csrf_token }}
    <div class="mb-3">

      <label for="i-name" class="form-label">Name</label>

      {{ i_form.email(class="form-control", id="i-name", placeholder="Ex: Yan Mukoka")}}

    </div>

    <div class="mb-3">

      <label for="i-email" class="form-label">Email</label>

      {{ i_form.email(class="form-control", id="i-email", placeholder="example@gmail.com")}}

    </div>

    <div class="mb-3">

      <label for="i-pwd" class="form-label">Mot de passe</label>

      {{ i_form.password(class="form-control", id="i-pwd", type='password', placeholder="*****")}}

    </div>

    <div class="mb-3">

      <label for="i-pwd" class="form-label">Confirmer le mot de passe</label>

      <input type="password" name="c-pwd" id="c-pwd" title="c-pwd" class="form-control" placeholder="Doit etre identique au mot de passe">

    </div>

    <br>
    {{ i_form.submit(class="btn submitBtn", id='inscription_btn')}}
    <span class="info-center m15 padX15">
      Ou
      <br>
      <em>
        <input type="button" value="Connectez-vous" class="btn btn-link " id="login-link">
      </em>
    </span>
  </form>

  <form id="login-form">

    {{ form.csrf_token }}


    <div class="mb-3">

      <label for="email" class="form-label">Email</label>

      {{ form.email(class="form-control", id="email", placeholder="example@gmail.com")}}

    </div>

    <div class="mb-3">

      <label for="pwd" class="form-label">Mot de passe</label>

      {{ form.password(class="form-control", id="pwd", type='password', placeholder="*****")}}

    </div>

    <input type="button" value="Creer un compte" class="btn btn-link submitBtn m15" id="new-account-link">


    {{ form.submit(class="btn submitBtn", id='login_btn')}}



  </form>

  <script src="{{ url_for('static', filename='scripts/auth.js')}}"></script>

</section>

