<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">

<section class="header-burger" id="header-burger">
  {% if current_user.is_authenticated %}
  {% include 'components/auth-menu.component.html' %}

  {% else %}
  {% include 'components/default-menu.component.html' %}
  {% endif %}
</section>

<header class="primary-header">
  <nav class="primary-nav">
    <section class="menu" id="menu">
      <img src="{{url_for('static', filename='images/menu.svg')}}" alt="menu" class="icon" >
    </section>
    <section class="logo">
      <img src="{{url_for('static', filename='assets/lecarabin-logo.svg')}}" alt="logo">
    </section>
    <section class="search" id="search">
      <img src="{{url_for('static', filename='images/search.svg')}}" alt="search something on lecarbin" class="icon">
    </section>
  </nav>
  <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
</header>


