@import '../../../colors.scss';
.single-post-container{
  display: grid;
  grid-template-columns: 5% 60% 25% auto;
  height: 100%;
  .social-btns{
    display: flex;
    flex-direction: column;
  }
  gap: 15px;
  .single-post-article{
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 5px solid $primary-cyan;
  }
  .single-post-image{
    img{
      height: 100%;
      width: 100%;
    }

    figure{
      margin: 15px;
    }
  }
}

.left-side-first-container{
  height: 100vh;
  background-color: transparent;
}
.left-side-first-section{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: white;
  border-top: 5px solid $primary-cyan;
}

.social-btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mat-icon{
    margin: 10px;
  }
  :nth-child(1){position: absolute; bottom: 0px;}

}

.article-body{
  text-align: justify;
}

img{
  :host{
    height: 1920px;
    width: 1080px;
  }
  height: 100%;
  width: 100%;

}
