<section class="single-post-container">
  <section class="social-btns"><ul><li>F</li><li>W</li><li>T</li></ul></section>
  <section class="single-post-article">
    <span class="single-post-tag article-tag-title pad15">Article Tag</span>
    <h2 class="padX15 ">Some Weird and Very Long Title And I Loving What I am Listening To</h2>
    <i class="padX12">By</i><span>Gloire Chabu</span>
    <section class="single-post-image">
      <figure>
        <img src="/assets/R.jpeg" alt="Some Photo">
        <figcaption>(c) GC, 2012</figcaption>
      </figure>
    </section>
  </section>
  <section class="single-post-left-side"></section>
  <section class="single-post-void"></section>
</section>
