<article class="single-post-container">
  <section class="social-btns">
    <mat-icon alt="facebook logo" svgIcon="facebook" class="btn"></mat-icon>
    <mat-icon alt="twitter logo" svgIcon="twitter" class="btn"></mat-icon>
    <mat-icon alt="linkedIn" svgIcon="linkedIn" class="btn"></mat-icon>
    <mat-icon alt="whatsapp" svgIcon="whatsapp" class="btn"></mat-icon>
  </section>
  <section class="single-post-article">
    <header>
      <span class="single-post-tag article-tag-title pad15">ARTICLE</span>
      <h2 class="padX15">
        Some Weird and Very Long Title And I Loving What I am Listening To
      </h2>
      <i class="padX12">By</i><span>Gloire Chabu. {{ date }}</span>
    </header>

    <section class="single-post-image">
      <figure>
        <img src="/assets/R.jpeg" alt="Some Photo" />
        <figcaption>(c) GC, 2012</figcaption>
      </figure>
    </section>
  </section>
  <section class="single-post-left-side">
    <section class="left-side-first-container">
      <section class="left-side-first-section"></section>
    </section>
    <section class="left-side-first-container"></section>
  </section>
  <section class="single-post-void"></section>
</article>
