<section class="first-section-container">
  <app-left-side/>
  <app-main/>
  <app-right-side/>
  <section class="second-section-container">
    <div class="article-section">
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
      <article class="second-featured-article"></article>
    </div>
    <div class="left-side-article">
      <app-imageless-article />
    </div>
  </section>

  <section class="third-section-container">
    <header>
      <h2 class="pad15">Title</h2>
    </header>
    <section class="third-section-featured-articles">
      <article class="third-featured-article"></article>
      <article class="third-featured-article"></article>
      <article class="third-featured-article"></article>
    </section>
  </section>
</section>


