@media screen and (max-width: 800px){
  section{
    display: flex;
    flex-direction: column;
    height: 100%;
    app-left-side, app-right-side{
      display: none;
    }
  }
}

@media  screen and (min-width: 801px) {
  .first-section-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    padding: 15px;
    height: 100%;
  }

  .second-section-container{
    width: 98vw;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: brown;
    .article-section{
      height: 500px;
      width: 94%;

    }
    .left-side-article{
      height: 100%;
      width: 94%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      > *{
        width: 100%;
      }
    }
  }
  app-left-side, app-right-side{
    width: 80%;
    margin: 0;
  }
}
.second-featured-section{
  background-color: white;
  height: 100%;
  width: 100%;
}
