@import '../../../colors.scss';
@media screen and (max-width: 800px){
  section{
    display: flex;
    flex-direction: column;
    height: 100%;
    app-left-side, app-right-side{
      display: none;
    }
  }
}

@media  screen and (min-width: 801px) {
  .first-section-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    padding: 15px;
    height: 100%;
  }

  .second-section-container{
    width: 98vw;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: brown;
    .article-section{
      width: 94%;
      display: grid;
      gap: 2px;
      grid-template-columns: repeat(2, 1fr);
    }
    .left-side-article{
      height: 100%;
      width: 94%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      > *{
        width: 100%;
      }
    }
  }
  app-left-side, app-right-side{
    width: 80%;
    margin: 0;
  }

  .third-section-container{
    grid-column: 1/-1;
    width: 98vw;
    margin: 10px 0;
    border-top: 5px solid $primary-cyan;
    height: 500px;
    background-color: white;
    content: "";
  }

  .third-section-featured-articles{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    *{
      height: 100%;
      width: calc(100/3);
    }
  }
}
.second-featured-article{
  background-color: white;
  height: 400px;
  width: 100%;
  content: "";
}



