@media screen and (max-width: 800px){
  .logo{
    width: 80%;
  }
  .icon{
    height: 24px;
    width: 24px;
  }
  aside{
    display: flex;
    flex-direction: column;
  }
  .primary-header{
    box-shadow: 1px 1px 5px #ccc;
  }

  .new-article-right-side{
    width: 100%;
    margin: 0;

  }
  #delete-article-btn{
  display: inline-flex;
  max-width: min-content;
  justify-self: center;
  align-self: center;
}
.auth_section form{
  height: 80% !important;
  width: 100% !important;
  box-shadow: none !important;
}

.auth_section{
  border-top: none !important;
}
}

@media screen and (min-width: 801px){
  .icon{
    height: 32px;
    width: 32px;
  }
  .auth_section{
    width: 100vw !important;
  }
  #inscription-form{
    max-width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    gap: 25px !important;
    align-items: flex-start !important;
  }
  .inscription-section-one{
    width: max-content !important;
  }
  .inscription-section-two{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .primary-header{
    border-bottom: 3px solid #13ACA7;

  }

}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #b0b0b0;
}

.mX15 {
  margin: 0 15px;
}

.padX15 {
  padding: 0 15px;
}

.m15 {
  margin: 15px;
}

.pad15 {
  padding: 15px;
}

body {
  background-color: #b0b0b0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
}
.primary-header {
  grid-column: 1/-1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease-in-out;
  margin-bottom: 10px;
}

main {
  grid-column: 1/-1;
}

nav {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;

}

.primary-nav section {
  display: flex;
  min-height: 100%;
}

.menu {
  justify-content: flex-start;
  align-items: center;
  object-fit: contain;
}

.logo {
  justify-content: center;
  align-items: center;
}
.search {
  justify-content: flex-end;
  align-items: center;
}
.logo img {
  max-height: 100%;
  width: 150px;
}
.icon:hover {
  transform: scale(0.9);
}
img {
  cursor: pointer;
}

.list-article {
  margin: 10px;
  padding: 10px;
  height: max-content;
  background-color: white;
  border: 1px solid transparent;
}

.list-article-header {
  color: #13ACA7;
}
a{
  color: #052629;
}

a:visited{
  color: #1fadb6;
}
li, a{
  text-decoration: none;
}
.list-card{
  background-color: honeydew;
  border: 1px solid honeydew;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  text-overflow: ellipsis;

}
.list-card-link{
  text-overflow: ellipsis;

}
ul{
  list-style: none;
  padding: 0;
}

a:hover{
  color: orangered;
}
#cat_form{
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px;
}

#cat_form_submit_btn, #cat_form_cancel_button{
  margin: 10px;
  display: inline-flex;
}
.tag-section{
  margin: 7px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;


}
.first_tag{
  background-color: rgba(0, 0, 139, 0.34) !important;
  color: darkblue;
}
.second_tag{
  background-color: rgba(0, 100, 0, 0.47) !important;
  color: darkgreen;
}

.third_tag{
  background-color: rgba(255, 69, 0, 0.53) !important;
  color: orangered;
}
.tag{
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid inherit;
  border-radius: 15px;
  background-color: gray;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
input::file-selector-button {
  color: #1fadb6;
  padding: 0.3em;
  border: 1px solid #ccc;
  border-radius: 3px;
   box-shadow: 1px 1px 5px #ccc;
  cursor: pointer;
}
#delete-article-btn{
  display: inline-flex;
  max-width: min-content;
  justify-self: center;
  align-self: center;
}
.auth_section{
  background-color: #F8F9FA;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.auth_section form{
  box-shadow: 0 0 10px #1facb61f, 0 0 5px #F8F9FA;
  padding: 20px;
  height: max-content;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#inscription-form{
  display: flex;
}
#alert-div .fading-away{
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.info-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inscription_btn{
  display: inline-flex;
  justify-self: center;
  align-self: center;
}
