@import './colors.scss';
@media screen and (max-width: 800px){
  app-main{
    height: 100%;
  }
}
html, body{padding: 0;margin: 0; height: 100%;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-header-menu, app-header-search{
  background-color: $light-cyan;
}
app-header-search{
  filter: opacity(1);
}


