@import './colors.scss';
@media screen and (max-width: 800px){
  app-main{
    height: 100%;
  }
  body, .app-container-body{background-color: white;}
  app-header{box-shadow: none;}


}
html, body{padding: 0;margin: 0; height: 100%;}
html, body { height: 100%; background-color: $grayOne;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-header-menu, app-header-search{
  background-color: $light-cyan;
}
app-header-search{
  filter: opacity(1);
}

.article-tag{
  display: flex;
  position: relative;
  left: 12px ;
  padding: 0 12px;
  margin: 12px 0;
  max-width: max-content;
  background-color: $primary-cyan;
  color: white;
}

.article-tag-title{
  display: flex;
  color: $primary-cyan;
}
.pad15{
  padding: 15px;
}
.padX15{
  padding: 0 15px;
}
.padX30{
  padding: 0 30px;
}
.pad12{
  padding: 12px;
}
.padX12{
  padding: 0 12px;
}
hr{
  border: 1px solid $grayOne;
}
.share-with-btn{
  color: $grayTwo;
  :hover{
    color: $primary-cyan;
  }
}
.single-post-image{
  img{
    height: 100%;
    width: 100%;
  }

  figure{
    margin: 0;
  }
}


mat-icon{
  svg:hover{
    fill: $primary-cyan;
    stroke: $primary-cyan;
    transition: all .3s ease-in-out;

  }
}
