@import '../../../../colors.scss';

.container {
  background-color: white;
  height: max-content;
  border-top: 4px solid $primary-cyan;
}
.title{
  display: flex;
  align-items: center;
}
.separator {
  width: 100%;
  color: $grayOne;
}
h2{
  transform: translateY(12px);
  padding: 0 15px;
}
