@media screen and (min-width: 801px) {
  .grid-container-mobile{
    display: none;
  }
  .second-row-article {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 10px 0;
    overflow: hidden;

  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
    width: 100%;
    gap: 10px;
    margin: 10px 0;

    article {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }
  }


}

@media screen and (max-width: 800px){
  .grid-container{
    display: none;
  }

  .grid-container-mobile{
    margin: 10px 0;
  }
}
