 <section class="main-container">
    <app-article [offset]="0" [heightVh]="100" [headerSizeRem]="2.2"></app-article>

    <div class="grid-container" >
       <article [ngStyle]="{'background': 'url('+ imageUrl +') no-repeat', 'background-size': 'cover'}">
        <div class="title">Titre</div>
        <div class="article-tag"></div>
       </article>

       <article [ngStyle]="{'background': 'url('+ imageUrl +') no-repeat', 'background-size': 'cover'}">
        <div class="title">Titre</div>
        <div class="article-tag"></div>
       </article>

       <article [ngStyle]="{'background': 'url('+ imageUrl +') no-repeat', 'background-size': 'cover'}">
        <div class="title">Titre</div>
        <div class="article-tag"></div>
       </article>

       <article [ngStyle]="{'background': 'url('+ imageUrl +') no-repeat', 'background-size': 'cover'}">
        <div class="title">Titre</div>
        <div class="article-tag"></div>
       </article>
    </div>
 </section>

